<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />


  <title>Document</title>
</head>

<body class="p-0">
  <div class="d-flex flex-column align-items-center">
    <div id="palcony-banner" class="d-flex flex-column justify-content-center align-items-center">
      <h1 id='hero-title' class="display-1 font-weight-bold text-dark"><span class="font-weight-light"
          style="color:  #DEF2F1;">Welcome to</span> <span style="color:  #3AAFA9 ; -webkit-text-fill-color: #3AAFA9; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;">Palcony</span></h1>
      <p id='stayathome' class="font-weight-bold">#stayHome</p>
      <h4 class="text-dark">Turning your balcony into a theatre box seat</h4>
    </div>
    <h2 class="mt-5">Unique experiences right at your balcony</h2>
    <div class="row justify-content-center mx-0">
      {{#each (limit allEvents 9) }}
      {{>eventCard }}
      {{/each}}
    </div>

    <h2 class="mt-5">Check what's going on around you!</h2>
    <div class="d-block justify-content-center w-100">
      <div id="mymap"></div>
    </div>
  </div>

  {{!-------------------------------------------MAPA-------------------------------------------}}
  <script>
    const events = JSON.parse({{events}})
    console.log(events)
    const mymap = L.map("mymap", {
      minZoom: 14,
    })


    if ("geolocation" in navigator) {
      console.log("geolocation available");
      navigator.geolocation.getCurrentPosition(position => {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        console.log(lat, lon);
        mymap.setView([lat, lon], 17);
        const attribution =
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> ';
        const tileUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);
      });
    } else {
      console.log("geolocation not available");
    }
    const palconyFlag = L.icon({
        iconUrl: '/images/palconyFlag.png',
        shadowUrl: '/images/palconyFlagShadow.png',
        iconSize: [40, 60],
        iconAnchor: [16, 60],
        shadowAnchor: [23, 75],
      });

    events.map(function (event) {
      L.marker([event.latitude, event.longitude], {icon: palconyFlag} )
        .bindPopup(`<div class="text-center m-0"><a class="font-weight-bold text-primary mb-1" href=/events/${event._id}>${event.name}</a><br><p class="my-1"><b>Date:</b>  <i>${readableDate(event.date)}</i>   <br>     <b>Start time: </b> <i>${event.date.slice(11, 16)}</i></p><p class="text-muted mt-1">${event.description}</p></div>`)
        .addTo(mymap);
    })


    function readableDate(unreadableDate) {
      console.log(unreadableDate)
      let day = unreadableDate.slice(8, 10)
      let month = unreadableDate.slice(5, 7)

      switch (month) {
        case "01": month = "January";
        case "02": month = "February";
        case "03": month = "March";
        case "04": month = "April";
        case "05": month = "May";
        case "06": month = "June";
        case "07": month = "July";
        case "08": month = "August";
        case "09": month = "September";
        case "10": month = "October";
        case "11": month = "November";
        case "12": month = "December";
      }

      if (unreadableDate.charAt(8) !== 0) { day + unreadableDate.charAt(8) };

      switch (day.charAt(1)) {
        case "1": day += "st"; break;
        case "2": day += "nd"; break;
        case "3": day += "rd"; break;
        default: day += "th";
      }

      if (day.charAt(0) === "0") { day = day.slice(1) }
      return `${month} the ${day}`;
    };

  </script>
  {{!-------------------------------------------MAPA-------------------------------------------}}

</body>

</html>