<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
</head>

<body>

  <nav class="navbar  navbar-expand-lg w-100"></nav>
  <div class="btn-group d-flex" role="group" aria-label="...">
    <a class="btn btn-default main-color font-weight-bold" href="/">Palcony</a>
    {{#if isUserLoggedIn}}
    <a a href="/users/" class="btn btn-default">Around me</a>

    <a type="button" class="btn btn-default" href="/users/add-event">Create event</a>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{currentUserInfo.name}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/users/">My Dashboard</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
      </ul>
    </div>
    <div></div>
    {{else}}
        <a a href="/users/" class="btn btn-default">Around me</a>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        User area
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu align-right">
        <li><a href="/auth/signup">Sign Up</a></li>
        <li><a href="/auth/login">Log In</a></li>
      </ul>
    </div>
    {{/if}}
  </div>
  </nav>


  {{{body}}}


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>