<h1>{{currentUserInfo.name}}, these are the events happening near you</h1>


{{#if message}}
<h4 class="rounded-pill text-center py-3 px-2 bg-success text-light font-weight-bold my-4 w-50">{{message}}</h4>
{{/if}}


<h4>Click on any marker to see the details of the event</h4>

<div id="mymap"></div>


<p id="events" class="d-none">{{events}}</p>

{{!-------------------------------------------MAPA-------------------------------------------}}
<script>
  const latInput = document.getElementById("lat")
  const lonInput = document.getElementById("lon")
  const events = JSON.parse(document.getElementById("events").innerHTML)
  console.log(events)
  const mymap = L.map("mymap", {
    minZoom: 14,
  })


  if ("geolocation" in navigator) {
    console.log("geolocation available");
    navigator.geolocation.getCurrentPosition(position => {
      lat = position.coords.latitude;
      lon = position.coords.longitude;
      console.log(lat, lon);
      mymap.setView([lat, lon], 17);
      const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> ';
      const tileUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
      const tiles = L.tileLayer(tileUrl, { attribution });
      tiles.addTo(mymap);
    });
  } else {
    console.log("geolocation not available");
  }


  events.map(function (event) {
    L.marker([event.latitude, event.longitude])
      .bindPopup(`<div class="text-center"><a class="font-weight-bold text-primary mb-1" href=/events/${event.id}>${event.name}</a><br><p class="my-1"><b>Date:</b>  <i>${readableDate(event.date)}</i>   <br>     <b>Start time: </b> <i>${event.date.slice(11, 16)}</i></p><p class="text-muted mt-1">${event.description}</p></div>`)
      .addTo(mymap);
  })


  function readableDate(unreadableDate) {
    console.log(unreadableDate)
    let day = unreadableDate.slice(8, 10)
    let month = unreadableDate.slice(5, 7)

    switch (month) {
      case "01": month = "January";
      case "02": month = "February";
      case "03": month = "March";
      case "04": month = "April";
      case "05": month = "May";
      case "06": month = "June";
      case "07": month = "July";
      case "08": month = "August";
      case "09": month = "September";
      case "10": month = "October";
      case "11": month = "November";
      case "12": month = "December";
    }

    if (unreadableDate.charAt(8)!== 0){day + unreadableDate.charAt(8)};
    
    switch (day.charAt(1)){
      case "1": day+="st"; break;
      case "2": day+="nd"; break;
      case "3": day+="rd"; break;
      default: day+="th";
    }
    if (day.charAt(0)==="0"){day=day.slice(1)}
  return `${month} the ${day}`
  }

</script>