@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  background-color:#DEF2F1;
  padding: 1vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #00b7ff;
}
#lat,
#lon {
  border: 0px solid;
}
#mymap {
  height: 1vw;
  width: 80vw;
  border: 2px solid grey;
}
#map {
  height: 800px;
  background-color: rgba(255, 0, 0, 0);
}
#event-details-map {
  height: 75vw;
}