@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
body {
  background-color:#2B7A77;
  padding: 1vw;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #3AAFA9;
}

/* colors:
#3AAFA9
#2B7A77
#DEF2F1
#17232A */

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #DEF2F1;
}

.main-color {
  color: #DEF2F1;
}

#palcony-banner{
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-image: url(/images/palcony.jpg);
}

a {
  color: #17232A;
}
#lat,
#lon {
  border: 0px solid;
}
#mymap {
  height: 80vw;
  width: auto;
  max-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid grey; */
}

#map {
  height: 800px;
  background-color: rgba(255, 0, 0, 0);
}
#event-details-map {
  height: 75vw;
}
